extends ../layout

block title
  | Fotaza - Iniciar Sesión

block styles
  link(rel="stylesheet", href="/auth.css")

block content
  div.container
    div.form-wrapper
      h1 Iniciar sesión
      
      //- Alerta global solo para errores críticos de servidor
      if alert && alert.status === 'error'
        div.alerta-error
          span #{alert.text}
          
      form(method='POST', action='/auth/login', novalidate)
        div.form-group
          label(for='email') Email
          input(type='email', id='email', name='email', class=(errors && errors.email ? 'is-invalid' : ''), value=formValues ? formValues.email : '')
          if errors && errors.email
            span.error-msg= errors.email[0]
        
        div.form-group
          label(for='password') Contraseña
          input(type='password', id='password', name='password', class=(errors && errors.password ? 'is-invalid' : ''), value=formValues ? formValues.password : '')
          if errors && errors.password
            span.error-msg= errors.password[0]
        
        div.form-group.center
          button(type='submit', class='btn-primary') Ingresar
        
        p.redirect-link
          | ¿No tienes cuenta? 
          a(href='/auth/signup') Regístrate aquí