extends layout.pug

block styles 
  link(rel="stylesheet", href="/posts.css")

block content
  div.profile-header
    div.profile-info-box
      div.profile-name-row
        h1.profile-username @#{profileUser.username}

        if !isOwnProfile
          if isFollowing
            form(action=`/profile/${profileUser.username}/follow`, method="POST")
              button(type="submit" class="btn-unfollow") Dejar de seguir
          else
            form(action=`/profile/${profileUser.username}/follow`, method="POST")
              button(type="submit" class="btn-follow") Seguir
      
      //- Contadores
      div.profile-stats
        span.stat-item #[strong #{stats.posts}] publicaciones
        span.stat-item #[strong #{stats.followers}] seguidores
        span.stat-item #[strong #{stats.following}] seguidos
            
  //- Grilla de Publicaciones propia del Usuario
  if posts && posts.length > 0
    div.posts-grid
      each post in posts
        div.post-card
          if post.PostImages && post.PostImages.length > 0
            div.post-image-wrapper
              img(src=post.PostImages[0].imageUrl, alt=post.title)
          else
            div.post-image-placeholder Sin imagen
            
          div.post-info
            h3= post.title
            if post.description
              p.post-desc= post.description
            div.post-meta-footer
              span.post-rating ★ 4.5
              span.post-license #{post.license}
  else
    div.no-posts
      p Este usuario todavía no tiene publicaciones compartidas.